<section class="projects bg-light bg-gradient text-dark pt-5 pb-5">
    <h2 style="text-align: center;">Portfolio</h2>
    <div class="container">
        <div class="row ">
            <div class="col-md-3 offset-1">
                <div class="card text-start">
                    <img class="card-img-top" src="../../assets/img/Ebay.png" alt="Ebay">
                    <div class="card-body">
                        <h4 class="card-title">Ebay</h4>
                        <p class="card-text">A simulation of Ebay products page using HTML, CSS, Bootstrap and JavaScript.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-start">
                    <img class="card-img-top" src="../../assets/img/Linkedin.png" alt="Linkedin">
                    <div class="card-body">
                        <h4 class="card-title">Linkedin</h4>
                        <p class="card-text">A simulation of Linkedin using HTML, CSS, Bootstrap and JavaScript. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-start">
                    <img class="card-img-top" src="../../assets/img/CV.png" alt="CV">
                    <div class="card-body">
                        <h4 class="card-title">CV</h4>
                        <p class="card-text">My CV using HTML, CSS, Bootstrap, TypeScript and Angular.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>